{% extends 'base.html' %}
{% if message %}
<script>
    alert('{{ message }}')
</script>
{% endif %}

{% block title %}
Create Dish
{% endblock %}

{% block header %}
<H1>Create Dish</H1>
{% endblock %}

{% block content %}
<div align="center" class=container>
  <form action='{% url 'post_dish' %}' method='post'>
    {% csrf_token %}
    <p>Dish Name: <input type="text" name="name"></input></p>
    <p>Ingredient: <input type="text" name="ingredient"></input></p>
    <p>Flavor: <input type="text" name="flavor"></input></p>
    <p>Price: <input type="text" name="price"></p>
    <input type="submit" class="btn btn-primary" value="Add Dish">
    <a.href="{% url 'welcome' %}" class="btn btn-danger" role="button">Cancel</a>
  </form>
</div>
{% endblock %}
