{% extends 'base.html' %}

{% block title %}
Create Dish
{% endblock %}

{% block header %}
<H1>Create Dish</H1>
{% endblock %}

{% block content %}
{% if message %}
<script>alert('{{ message }}')</script>
{% endif %}

<div align="center" class=container>
  <form action='{% url 'create_dish' %}' method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Add Dish">
    <button type="button" class="btn btn-danger" onclick="location.href='{% url 'homepage' %}'">Cancel</button>
  </form>
</div>
{% endblock %}
