{% extends 'base.html' %}

{% block title %}
Dish Detail
{% endblock %}

{% block header %}
<H1>Dish Detail</H1>
{% endblock %}

{% block content %}
<div class="panel-group">
  <div class="panel panel-info">
    <div class="panel-heading"><h4>{{ Name }}</h4></div>
    <div class="panel-body">
      <img src="{{ Image }}" style="float:right; margin-right:50px" width="20%" height="20%">
      <p><b>Ingredient: </b>{{ Ingredient }}</p>
      <p><b>Flavor: </b>{{ Flavor }}</p>
      <p><b>Price: </b>{{ Price }}</p>
      <a href="{% url 'edit_dish' dish_id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'delete_dish' dish_id %}" class="btn btn-danger">Delete</a>
      <a href="{% url 'homepage' %}" class="btn btn-default">Back</a>
    </div>
  </div>
</div>
{% endblock %}
