{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock %}

{% block header %}
<H1>Welcome, {{ info.Name }}</H1><br>
<p>{{ info.Address }}  |  {{ info.Phone }}  |  {{info.Email}}</p>
{% endblock %}

{% block content %}
<div class="container">
  <a href="{% url 'create_dish' %}" class="btn btn-info" role="button" >Create Dish</a>
  <a href="{% url 'logout' %}" class="btn btn-danger pull-right" role="button" >Logout</a>
</div>
<div class="container">
  <H3><b>Dishes</b></H3>
</div>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Dish Name</th>
        <th>Flavor</th>
        <th>Price</th>
        <th>Detail</th>
      </tr>
    </thead>
    <tbody>
      {% if no_dishes %}
        <p><b>{{ no_dishes }}</b></p>
      {% else %}
        {% for id, detail in dishes %}
        <tr>
          <td>{{ detail.Name }}</td>
          <td>{{ detail.Flavor }}</td>
          <td>{{ detail.Price }}</td>
          <td><a href="{% url 'dish_detail' id %}">See detail</a><td>
        </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div><br>
<div class="container">
  <H3><b>Orders</b></H3>
</div>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>SerialNum</th>
        <th>Order Time</th>
        <th>Customer Name</th>
        <th>Status</th>
        <th>Detail</th>
      </tr>
    </thead>
    <tbody>
      {% if no_orders %}
        <p><b>{{ no_orders }}</b></p>
      {% else %}
        {% for id, detail in orders %}
        <tr>
          <td>{{ detail.Serial }}</td>
          <td>{{ detail.Time }}</td>
          <td>{{ detail.Customer }}</td>
          <td>{{ detail.Status }}</td>
          <td><a href="{% url 'order_detail' id %}">See detail</a><td>
        </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
