{% extends 'base.html' %}

{% block title %}
Order Detail
{% endblock %}

{% block header %}
<H1>Order Detail</H1>
{% endblock %}

{% block content %}
  <div class="panel panel-primary">
    <div class="panel-heading"><h4>Serial Number: {{ Serial }}</h4></div>
    <div class="panel-body">
      <p><b>Order Time: </b>{{ Time }}</p>
      <p><b>Order Content: </b>{{ Food }}</p>
      <p><b>Extra Requirement: </b>{{ Requirement }}</p> 
    </div>
    <div class="panel-body">
      <p><b>Customer Name: </b>{{ Customer }}</p>
      <p><b>Phone Number: </b>{{ Phone }}</p>
      <p><b>Delivery Address: </b>{{ Address }}</p>
      {% if Status == 0 %}
        <p><b>Order Status: </b>Confirmed</p> 
      {% elif Status == 1 %}
        <p><b>Order Status: </b>Preparing</p> 
      {% elif Status == 2 %}
        <p><b>Order Status: </b>Delivering</p> 
      {% else %}
        <p><b>Order Status: </b>Delivered</p> 
      {% endif %}
    </div>
    <div class="panel-body">
      <form action="{% url 'order_detail' order_id %}" method='post'>
        {% csrf_token %}
        <div class="form-group">
          {{ form.as_p }}
        </div>
        <div>
          <input type="submit" class="btn btn-primary" value="Save">
        </div>
      </form>
    </div>
    <div class="panel-footer">
      <H4><b>Total Price: </b>{{ Price }}</H4>
    </div> 
  </div>
<div align="center">
<a href="{% url 'homepage' %}" class="btn btn-default">Back</a>
</div>
{% endblock %}
