{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block header %}
<H1>Register</H1>
{% endblock %}

{% block content %}
{% if message %}
<script>alert('{{ message }}')</script>
{% endif %}

<div align="center">
  <form action='{% url 'register' %}' method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Register"></input>
    <button type="button" class="btn btn-danger" onclick="location.href='{% url 'login' %}'">Back</button>
  </form> 
</div>
{% endblock %}
