{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block header %}
<H1>Register</H1>
{% endblock %}

{% block content %}
{% if message %}
<script>alert('{{ message }}')</script>
{% endif %}

<div align="center">
  <form action='{% url 'register' %}' method='post'>
    {% csrf_token %}
<!--    <p>Restaurant Name: <input type="text" placeholder="Enter restaurant name" name="name"></input></p>
    <p>Phone: <input type="text" placeholder="Enter phone" name="phone"></input></p>
    <p>Address: <input type="text" placeholder="Enter address" name="addr"></input></p>
    <p>Email: <input type="email" placeholder="Enter Email" name="email"></p>
    <p>Password: <input type="password" placeholder="Enter password" name="passwd"></p>
    <p>Repeat Password: <input type="password" placeholder="Enter password again" name="repeat_passwd"></p>
-->
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Register"></input>
    <button type="button" class="btn btn-danger" onclick="location.href='{% url 'login' %}'">Back</button>
  </form> 
</div>
{% endblock %}
